$accent: #EE72F1;
$background: mix($accent, #1D1E28, 2%);
$color: white;
$border-color: rgba(255, 255, 255, .1);

@import '../main';
@import '../header';
@import '../logo';
@import '../pagination';
@import '../post';
@import '../syntax-monokai';
@import '../variables';
