.footer {
  padding: 40px 0;
  flex-grow: 0;
  opacity: .5;

  &__inner {
    display: flex;
    justify-content: center;
    margin: 0;
    max-width: 100%;

    .vertical-rule {
      border-left: 2px solid #fff;
      margin: auto .5rem;
      height: 1rem;
    }

    @media (--tablet) {
      flex-direction: column;
    }
  }

  a {
    color: inherit;
  }

  .copyright, .generated-by, .theme-by {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    margin: auto .5rem; 
    text-align: center;

    & > *:first-child:not(:only-child) {
      margin-right: 10px;

       @media (--tablet) {
        border: none;
        padding: 0;
        margin: 0;
      }
    }

    @media (--tablet) {
      flex-direction: column;
      margin-top: 10px;
    }
  }
}
